src/main/resources/META-INF/wsdl/validateOrder.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ValidateOrderEndpointService" targetNamespace="http://endpoints.camel.atos.net/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoints.camel.atos.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://endpoints.camel.atos.net/" version="1.0" xmlns:tns="http://endpoints.camel.atos.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="order" type="tns:order"/>
<xs:element name="validateOrder" type="tns:validateOrder"/>
<xs:element name="validateOrderResponse" type="tns:validateOrderResponse"/>
<xs:complexType name="validateOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="order">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:long" use="required"/>
    <xs:attribute name="partName" type="xs:string"/>
    <xs:attribute name="amount" type="xs:int" use="required"/>
    <xs:attribute name="customerName" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="validateOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="validateOrderResponse">
    <wsdl:part element="tns:validateOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateOrder">
    <wsdl:part element="tns:validateOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ValidateOrderEndpoint">
    <wsdl:operation name="validateOrder">
      <wsdl:input message="tns:validateOrder" name="validateOrder">
    </wsdl:input>
      <wsdl:output message="tns:validateOrderResponse" name="validateOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateOrderEndpointServiceSoapBinding" type="tns:ValidateOrderEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateOrderEndpointService">
    <wsdl:port binding="tns:ValidateOrderEndpointServiceSoapBinding" name="ValidateOrderEndpointPort">
      <soap:address location="http://localhost:8089/mockValidateOrderEndpointServiceSoapBinding"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>